<p>event-binding works!</p>

<section>
    <div>
        <button mat-button color="primary" (click)="save()">Console Log</button>
    </div>
    <div>
        <button mat-button color="warn" (click)="dec()">Decrementar Intervalo</button>
        <button mat-button color="warn" (click)="inc()">{{btnName}}</button>
        <h1>{{i}}</h1>
    </div>
</section>
<mat-divider></mat-divider>
<section>
    <div>
        <button mat-button [disabled]="btnDisabled" color="primary">Botão 1</button>
        <button mat-button [disabled]="btnDisabled" color="primary">Botão 2</button>
    </div>
    <div>
        <mat-spinner color="accent" [mode]="spinnerMode" [value]="value"></mat-spinner>
        <button mat-button color="primary" (click)="disableBtn()">Desabilitar</button>
    </div>
</section>
<mat-divider></mat-divider>
<section class="example-section">
    <div>
        <mat-checkbox class="example-margin" (change)="cbtrigger($event.checked)">Check me!</mat-checkbox>
        <mat-checkbox class="example-margin" [disabled]="cbdisable" (change)="selectTrigger($event.checked)">{{cbcontent}}</mat-checkbox>
    </div>
</section>
<mat-divider></mat-divider>
<section>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Carro Favorito</mat-label>
            <mat-select [disabled]="selectDisabled" (selectionChange)="selectionChange($event.value)">
                <mat-option value="1">Volvo</mat-option>
                <mat-option value="2">Saab</mat-option>
                <mat-option value="3">Mercedes</mat-option>
                <mat-option value="4">Audi</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <span>Opção selecionada {{selectedOption}}</span>
    </div>
</section>
<mat-divider></mat-divider>
<section>
    <div>
        <mat-form-field>
            <!-- TWO WAY DATA BINDING -->
            <input type="text" matInput placeholder="First name"
                (input)="inputName = $event.target.value"
                [value]="inputName">
        </mat-form-field>
    </div>
    <p>Input Name: {{inputName}}</p>
</section>
<mat-divider></mat-divider>
